<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ output extension=".cs" #>
<#@ include file="..\T4\Constants.tt" #>
using ExRam.Gremlinq.Core.Steps;
using System.Linq.Expressions;

<# const int maxParameters = 16; #>

namespace ExRam.Gremlinq.Core
{
<# for(var i = 0; i <= maxParameters; i++) { #>
    public interface ITreeBuilder<#= GetGenericArgumentList("TNode{0}", i) #>
<# if (i >= 1) { #>
        : ITreeBuilderResult<<#= GetTreeTypeName(i) #>>
<# } #>
<# for(var j = 1; j <= i; j++) { #>
            where TNode<#= j  #> : notnull
<# } #>
    {
<# if (i < maxParameters) { #>
        ITreeBuilder<<#= GetArgumentList("TNode{0}", i, false, true)#>TNewNode> Of<TNewNode>() where TNewNode : notnull;
<# } #>
<# if (i >= 1) { #>

        ITreeBuilder<<#= GetArgumentList("TNode{0}", i - 1, false, true)#>TNewNode> By<TNewNode>(Expression<Func<TNode<#= i  #>, TNewNode>> expression) where TNewNode : notnull;
<# } #>
    }

<# } #>

    partial class GremlinQuery<T1, T2, T3, T4>
    {
        private sealed partial class TreeBuilder<<#= GetArgumentList("TNode{0}", maxParameters)#>> :
<# for(var i = 1; i <= maxParameters; i++) { #>
            ITreeBuilder<<#= GetArgumentList("TNode{0}", i) #>>,
<# } #>
            ITreeBuilder
<# for(var i = 1; i <= maxParameters; i++) { #>
                where TNode<#= i  #> : notnull
<# } #>
        {
<# for(var i = 0; i < maxParameters; i++) { #>

            ITreeBuilder<<#= GetArgumentList("TNode{0}", i, false, true) #>TNewNode> ITreeBuilder<#= GetGenericArgumentList("TNode{0}", i) #>.Of<TNewNode>()
            {
                return new TreeBuilder<<#= GetArgumentList("TNode{0}", i, false, true) #>TNewNode<#= GetArgumentList("object", 15 - i, true)#>>(_sourceQuery, _bySteps.Add(TreeStep.ByIdentityStep.Instance));
            }
<# } #>

<# for(var i = 1; i <= maxParameters; i++) { #>

            ITreeBuilder<<#= GetArgumentList("TNode{0}", i - 1, false, true) #> TNewNode> ITreeBuilder<#= GetGenericArgumentList("TNode{0}", i) #>.By<TNewNode>(Expression<Func<TNode<#= i  #>, TNewNode>> expression)
            {
                return new TreeBuilder<<#= GetArgumentList("TNode{0}", i - 1, false, true) #>TNewNode<#= GetArgumentList("object", 16 - i, true)#>>(_sourceQuery, _bySteps.RemoveAt(_bySteps.Count - 1).Add(new TreeStep.ByKeyStep(_sourceQuery.GetKey(expression))));
            }
<# } #>

<# for(var i = 1; i <= maxParameters; i++) { #>

            IGremlinQuery<<#= GetTreeTypeName(i) #>> ITreeBuilderResult<<#= GetTreeTypeName(i) #>>.Build() => Build<<#= GetTreeTypeName(i) #>>();
<# } #>
        }
    }
}

<#@ include file="..\T4\HelperMethods.tt" #>
